In [1]:
import numpy as np
import peewee as pw
import pandas as pd

from tqdm import tqdm
from structure import Const, Solve, db,BaseModel
from solver import CONST_DEFAULT,DIR_PATH,df_from_comsol,write

# OLD

In [ ]:
# def solve(data_full):
#     keys = list(default_values.keys())
#     with open('params.csv', 'w+') as file:
#         file.writelines(' '.join([key for key in keys]) + '\n')
#         if isinstance(default_values[keys[0]], tuple|list):
#             for i in range(len(default_values[keys[0]])):
#                 file.writelines(
#                     ' '.join([str(default_values[key])
#                               for key in keys]) + '\n', )
#         else:
#             file.writelines(
#                 ' '.join([str(default_values[key]) for key in keys]) + '\n', )

#     os.chdir('D:\\Works\\COMSOL_polymers\\Batch')
#     solve_command = f'comsolbatch -inputfile System_batch.mph'
#     solve_command += f'-paramfile io\\params.csv'
#     solve_command += f'-methodcall solve_full'
#     solve_command += f'-nosave'
#     solve_command += f'-batchlog system_batch.log'
#     os.system(solve_command)

In [2]:
df = df_from_comsol()
df.head()

,Ke,KH,Kr,Kdisp,KqH,Ks,Kd,Kc,Kp,KrD,...,Q,DH,QHD,QHH,prod,Qm,DHp,QH,D,QD
0,1.000000e+09,1.000000e+09,1.000000e+09,1.000000e+09,2000.0,3.0,0.05,1.0,0.001,1.000000e+09,...,1.0,1.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0
1,1.000000e+09,1.000000e+09,1.000000e+09,1.000000e+09,2000.0,3.0,0.05,1.0,0.001,1.000000e+09,...,1.0,1.0,0.0,0.0,2.000000e-12,0.0,0.0,0.0,0.0,0.0
2,1.000000e+09,1.000000e+09,1.000000e+09,1.000000e+09,2000.0,3.0,0.05,1.0,0.001,1.000000e+09,...,1.0,1.0,0.0,0.0,4.000000e-12,0.0,0.0,0.0,0.0,0.0
3,1.000000e+09,1.000000e+09,1.000000e+09,1.000000e+09,2000.0,3.0,0.05,1.0,0.001,1.000000e+09,...,1.0,1.0,0.0,0.0,8.000000e-12,0.0,0.0,0.0,0.0,0.0
4,1.000000e+09,1.000000e+09,1.000000e+09,1.000000e+09,2000.0,3.0,0.05,1.0,0.001,1.000000e+09,...,1.0,1.0,0.0,0.0,1.600000e-11,0.0,0.0,0.0,0.0,0.0

In [ ]:
# def get(cond:list):
#     with database_connection:
#         q= Solve.select(Solve).where(Solve.name=='test_#2').get()
#     name = q.name    
#     df= pd.read_json(q.data)
#     return name

In [17]:
with db:
    q= Solve.select(Solve).where(Solve.name=='test_#2').get()
    q2 = Const.select(Const).join(Solve).where(Const.solve_id==q).execute()
df= pd.read_json(q.data)
for i in q2:
    df[i.name]=i.value
df

,Time,Q,DH,QHD,QHH,prod,Qm,DHp,QH,D,...,Kr,Kdisp,KqH,Ks,Kd,Kc,Kp,KrD,Kph,light
0,0.000000e+00,1.000000,1.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
1,8.000000e-10,0.999984,0.999984,0.000000e+00,0.000000e+00,0.000000,0.000016,0.000016,2.000000e-10,2.000000e-10,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
2,1.400000e-09,0.999973,0.999973,2.300638e-19,2.300635e-19,0.000000,0.000027,0.000027,6.000000e-10,6.000000e-10,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
3,2.500000e-09,0.999949,0.999949,1.568128e-17,1.568125e-17,0.000000,0.000051,0.000051,3.600000e-09,3.600000e-09,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
4,4.900000e-09,0.999903,0.999903,0.000000e+00,0.000000e+00,0.000000,0.000097,0.000097,2.590000e-08,2.590000e-08,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,1.916527e-04,0.403306,0.115557,3.071314e-01,2.878140e-01,0.287875,0.000968,0.000968,7.157758e-04,5.294404e-04,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
360,1.938447e-04,0.401890,0.113535,3.079539e-01,2.884213e-01,0.288482,0.000958,0.000958,7.110558e-04,5.233532e-04,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
361,1.960367e-04,0.400503,0.111555,3.087616e-01,2.890146e-01,0.289076,0.000948,0.000948,7.064280e-04,5.173618e-04,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
362,1.982287e-04,0.399143,0.109616,3.095549e-01,2.895945e-01,0.289656,0.000938,0.000938,7.018904e-04,5.114637e-04,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002
363,2.000000e-04,0.398064,0.108079,3.101857e-01,2.900535e-01,0.290115,0.000930,0.000930,6.982877e-04,5.067641e-04,...,1000000000.00000,1000000000.00000,2000.00000,3.00000,0.05000,1.00000,0.00100,1000000000.00000,0.00001,0.00002

In [ ]:
a = {'light':()}

In [48]:
with db:
    q = (Solve
         .select(Solve)
         .join(Const)
         .where((Const.name == 'light'), (Const.value < 0.00003))
        ).execute() # yapf: disable
    print(list(q))

[<Solve: 1>, <Solve: 2>, <Solve: 3>]

In [40]:
with db:
    q = (Const
         .select(Const)
         .join(Solve)
         .where(Const.name == 'light'and Const.value < 0.00003)).get() # yapf: disable
    for i in q:
        print(i.name)

TypeError: 'Const' object is not iterable

In [ ]:
# with database_connection:
#     for :
#         q= Solve.select(Solve).where(Solve.name=='test_#2').get()
#         q2 = Const.select(Const).join(Solve).where(Const.solve_id==q).execute()
#         df= pd.read_json(q.data)
#         for i in q2:
#             df[i.name]=i.value

# NEW

In [2]:
with db:
    cursor= db.execute_sql('select * from pivot')
    result = cursor.fetchall()
cursor.rowcount

12

In [93]:
q = {
    'light': (0, 0.00002),
    'KrD': (0, 1E100),
}
def get_solves(conditious):
    string = 'select * from pivot \n where \n'
    for key, diap in conditious.items():
        string += f'{diap[0]} <= {key} and {key} <= {diap[1]} \n and \n'

    querry = string[:-8]
    
    with db:
        columns = [i.name for i in db.get_columns('pivot')]
        # columns.remove('data')
        cursor = db.execute_sql(querry)
        result = cursor.fetchall()
    df = pd.DataFrame(columns=columns, data=result)
    
    
    datas = df['data']
    data_df_list = []
    for data in datas:
        data_df_list.append( pd.read_json(data[1:-1].replace('\\','')))
    
    del df['data']
    return df,data_df_list

solves,datas =get_solves(q)
solves

,name,desc,solve_id,Kc,Kd,Kdisp,Ke,KH,Kp,Kph,KqH,Kr,KrD,Ks,light,date
0,test_#0,tesr desc,1,1.00000,0.05000,1000000000.00000,1000000000.00000,1000000000.00000,0.00100,0.00001,2000.00000,1000000000.00000,1000000000.00000,3.00000,0.00000,2023-08-15 15:19:25
1,test_#1,tesr desc,2,1.00000,0.05000,1000000000.00000,1000000000.00000,1000000000.00000,0.00100,0.00001,2000.00000,1000000000.00000,1000000000.00000,3.00000,0.00001,2023-08-15 15:19:25
2,test_#2,tesr desc,3,1.00000,0.05000,1000000000.00000,1000000000.00000,1000000000.00000,0.00100,0.00001,2000.00000,1000000000.00000,1000000000.00000,3.00000,0.00002,2023-08-15 15:19:26

In [98]:
solves.loc[0]

name                    test_#0
desc                tesr desc
solve_id                      1
Kc                      1.00000
Kd                      0.05000
Kdisp          1000000000.00000
Ke             1000000000.00000
KH             1000000000.00000
Kp                      0.00100
Kph                     0.00001
KqH                  2000.00000
Kr             1000000000.00000
KrD            1000000000.00000
Ks                      3.00000
light                   0.00000
date        2023-08-15 15:19:25
Name: 0, dtype: object

In [99]:
datas[0]

            Time    Q  DH  QHD  QHH          prod  Qm  DHp  QH  D  QD
0   0.000000e+00  1.0   1    0    0  0.000000e+00   0    0   0  0   0
1   2.000000e-07  1.0   1    0    0  0.000000e+00   0    0   0  0   0
2   4.000000e-07  1.0   1    0    0  0.000000e+00   0    0   0  0   0
3   8.000000e-07  1.0   1    0    0  0.000000e+00   0    0   0  0   0
4   1.600000e-06  1.0   1    0    0  0.000000e+00   0    0   0  0   0
5   3.200000e-06  1.0   1    0    0  0.000000e+00   0    0   0  0   0
6   6.400000e-06  1.0   1    0    0  1.000000e-10   0    0   0  0   0
7   1.280000e-05  1.0   1    0    0  1.000000e-10   0    0   0  0   0
8   2.560000e-05  1.0   1    0    0  3.000000e-10   0    0   0  0   0
9   4.560000e-05  1.0   1    0    0  5.000000e-10   0    0   0  0   0
10  6.560000e-05  1.0   1    0    0  7.000000e-10   0    0   0  0   0
11  8.560000e-05  1.0   1    0    0  9.000000e-10   0    0   0  0   0
12  1.056000e-04  1.0   1    0    0  1.100000e-09   0    0   0  0   0
13  1.256000e-04  1.0   1    0    0  1.300000e-09   0    0   0  0   0
14  1.456000e-04  1.0   1    0    0  1.500000e-09   0    0   0  0   0
15  1.656000e-04  1.0   1    0    0  1.700000e-09   0    0   0  0   0
16  1.856000e-04  1.0   1    0    0  1.900000e-09   0    0   0  0   0
17  2.000000e-04  1.0   1    0    0  2.000000e-09   0    0   0  0   0